@font-face {
    font-family: Quite-Chocolatey;
    src: url('../fonts/Quite-Chocolatey.ttf');
}
body {
    margin: 0;
}
.title{
    font-size: 50px;
    font-weight: bold;
    font-family: Montserrat;
    line-height: 80px;
    text-transform: uppercase;
}
.container {
    margin: 0 105px;
}
.promo {
    background: url(../images/promo.png) center center/cover no-repeat;
    min-height: 700px;
    padding-top: 40px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style-type: none;
}
.nav-item{
    padding-top: 15px;
}
.nav-item a{
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    padding: 11px 15px;
    color: #000000;
    text-decoration: none;
    align-items: center;
    font-weight: bold;
}

.nav-item a:hover{
    color: #ffffff;
    background-color: #d03958;
    border-radius: 5px;
    transition: background-color, .2s ease;
}
.nav-item a:focus{
    color: #ffffff;
    background-color: #d03958;
    border-radius: 5px;
}
.promo-content{
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -70px;
}
.promo-text{
    width: 50%;
}
.promo-title {
    font-size: 90px;
    font-weight: bold;
    font-family: "Times New Roman";
    line-height: 0.88;
    color: rgb(200, 57, 88);
    margin: 0;
}
.promo-title span{
    color: #000000;
}
.promo-description{
    font-size: 20px;
    font-family: PTSerif;
    line-height: 1.4;
}
form.form {
    display: flex;
    flex-direction: column;
    background-color: #d03958;
    padding: 30px 70px 30px 25px;
    border-radius: 5px;
}

.form_title{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 37px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.form-input{
    padding: 19px 23px 23px 19px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
}
.form-input:focus{
    border: none;
    outline: none;
    font-family: PTSerif;
}
.form-input:nth-child(5){
    margin-bottom: 20px;
}
.form-checkbox{
    opacity: 0;
    z-index: -1;
    display: none;
}
.form-checkbox+label{
    display: inline-flex;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.25;
    font-family: PTSerif;
    cursor: pointer;
}
.form-checkbox+label::before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 23px;
}
.form-checkbox:checked+label::before{
    background-image: url('../images/Checkmark.svg');
}
.form-btn{
    padding: 20px 140px;
    background-color: #000;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.2;
    cursor: pointer;
    width: 112%;
    border: none;
}
.form-btn:hover{
    background-color: #fff;
    color: #000;
    transition: background-color, .3s ease-out;
}
.our-services-title{
    color: #d03958;
}
.our-services-title span{
    color: #000000;
}
.our-services-content{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.our-services-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.our-services-img{
    margin-bottom: 40px;
}
.os-description{
    text-align: center;
    font-size: 20px;
    font-family: PTSerif;
    line-height: 1.4;
}
.our-store{
    background-color: #d03958;
    margin-top: 70px;
}
.our-store-content{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
.our-store-text{
    font-size: 20px;
    font-family: PTSerif;
    color: rgb(255, 255, 255);
    line-height: 1.4;
    letter-spacing: 1.5px;
}
.os-btn{
    font-size: 22px;
    text-decoration: none;
    font-family: Montserrat;
    padding: 31px 70px 28px 70px;
    background-color: #e3d5b8;
    border-radius: 5px;
    color: #000;
    line-height: 1.273;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.pricing{
    background-color: #e3d5b8;
}
.pricing-title{
    text-align: center;
    padding: 65px 0 40px 0;
    margin: 0;
}
.pricing-content{
    display: flex;
    justify-content: space-between;
}
.pricing-cart{
    text-align: center;
    background-color: #fff;
    width: calc(33.33% - 20px);
    border-radius: 5px;
    position: relative;
}
.pc-name{
    font-size: 22px;
    font-family: PTSerif;
    color: rgb(22, 22, 22);
    line-height: 1.273;
    margin: 35px 0 10px 0;
}
 .pc-cost{
    font-size: 60px;
    font-family: "Montserrat";
    color: rgb(208, 57, 88);
    font-weight: bold;
    line-height: 1.333;
    margin: 0;
}
.pc-content{
    font-size: 22px;
    font-family: "PTSerif";
    color: rgb(22, 22, 22);
    line-height: 1.273;
    padding-bottom: 35px;
    margin: 0;;
}
.pc-btn{
    background-color: #e3d5b8;
    color: #000000;
    text-decoration: none;
    padding: 15px 60px;
    font-size: 22px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
}
.pc-btn:hover{
    color: #fff;
    background-color: rgb(208, 57, 88);
    transition: background-color, .2s ease-out;
}
.triangle{
    width: 0;
    height: 0;
    position: absolute;
    border-top: 90px solid #b4a993;
    border-right: 90px solid transparent;
    left: 0;
    top: 0;
}
.triangle:hover {
    border-top: 90px solid rgb(208, 57, 88);
    border-right: 90px solid transparent;
    transition: all, .2s ease-out;
}
.triangle p{
    font-size: 16px;
    font-family: "PTSerif";
    color: rgb(31, 31, 31);
    line-height: 1.75;
    -moz-transform: matrix( 0.67739919539163,-0.73561561299552,0.73561561299552,0.67739919539163,0,0);
    -webkit-transform: matrix( 0.67739919539163,-0.73561561299552,0.73561561299552,0.67739919539163,0,0);
    -ms-transform: matrix( 0.67739919539163,-0.73561561299552,0.73561561299552,0.67739919539163,0,0);
    top: 0px;
    left: 0px;
    position: absolute;
    top: -75px;
    left: 5px;
    margin: 0; 
    font-weight: bold;
}
.rewiews{
    padding-top: 100px;
}
.rewiews .container{
    display: flex;
    justify-content: space-between;
}
.testimonial{
    width: 40%;
}
.testimonial-title{
    text-align: center;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
}
.testimonial-item{
    position: relative;
    padding: 26px 77px 26px 26px;
    margin-bottom: 25px;
    width: 81%;
    left: -64px;
}
.testimonial-item:hover{
    background-color: #e3d5b8;
    transition: all, .3s linear;
    border-radius: 5px;
}
.testimonial-img{
    position: absolute;
    right: -61px;
    top: 5%;
}
.testimonial-description{
    font-size: 20px;
    font-family: "PTSerif";
    color: rgb(22, 22, 22);
    line-height: 1.4;
      
}
.testimonial-subtext{
    padding-top: 23px;
    font-size: 20px;
    font-family: "Montserrat";
    color: #d03958;
}
.gallery-title{
    text-align: center;
    color: #d03958;
}
.more-gallery{
    text-align: center;
    display: block;
    color: #d03958;
    font-size: 20px;
    margin-top: 30px;

}
footer{
    background-color: black;
    padding: 20px 0;
    margin: 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
}
footer p{
    color: #fff;
    font-family: "Montserrat";
}
footer p span{
    color: #d03958;
    font-weight: bold;
    letter-spacing: 0.5px;
}